.container {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;

  .logoIcon {
    color: var(--el-color-primary);
  }

  .productName {
    font-size: 22px;
    vertical-align: middle;
    user-select: none;
  }

  .logoutButton {
    margin-left: auto;
  }
}