.container {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  display: flex;
  gap: 20px;
  flex-direction: column;

  .toolbar {
    height: 50px;
    flex-shrink: 0;
  }

  .main {
    flex-grow: 1;
    height: 0;
  }
}