.card {
  width: 100%;
  height: 100%;

  .container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    word-break: break-all;

    .head {
      height: 30px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .main {
      height: 0;
      flex-grow: 1;
      white-space: pre-wrap;
    }

    .bottom {
      height: 20px;
      flex-shrink: 0;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
}