.loginContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:
    repeating-linear-gradient(
      60deg,
      rgb(235, 235, 235),
      rgb(235, 235, 235) 15px,
      transparent 15px,
      transparent 30px
    ),
    repeating-linear-gradient(
      -60deg,
      rgb(225, 225, 225),
      rgb(225, 225, 225) 15px,
      rgb(235, 235, 235) 15px,
      rgb(235, 235, 235) 30px
    );

  .loginCard {
    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      transform: scale(1.01);
    }

    &:global(.v-enter-from) {
      opacity: 0;
    }

    &:global(.v-enter-to) {
      opacity: 1;
    }

    &:global(.v-enter-active) {
      transition: opacity 800ms ease-in;
    }

    .loginLabel {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .loginFormInput {
      min-width: 220px;
    }

    .loginButton {
      width: 100%;
    }
  }
}
