.container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  gap: 10px;

  .empty {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .notEmpty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .scroll {
      flex-grow: 1;
      overflow-y: auto;
      scrollbar-width: thin;

      .cardList {
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .card {
          height: 200px;
        }
      }
    }

    .pagination {
      height: 50px;
      flex-shrink: 0;
      align-items: center;
    }
  }
}